<p id="notice"><%= notice %></p>

<h1 style="text-align:center">Quotes</h1>

<table style="font-size:12px">
  <thead>
    <tr>
      <th>Type of building</th>
      <th>Number of apartments</th>
      <th>Number of floors</th>
      <th>Number of basements</th>
      <th>Number of companies</th>
      <th>Number of parking spots</th>
      <th>Number of elevator cages</th>
      <th>Maximum occupants per floor</th>
      <th>Number of hours of activity in the building</th>
      <th>Number of corporations</th>
      <th>Elevator model</th>
      <th>Number of elevators</th>
      <th>Range</th>
      <th>Unit price</th>
      <th>Total price</th>
      <th>Installation fees</th>
      <th>Final price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.buildingtype %></td>
        <td><%= quote.numofapt %></td>
        <td><%= quote.numoffloors %></td>
        <td><%= quote.numofbase %></td>
        <td><%= quote.numofcomp %></td>
        <td><%= quote.numofpark %></td>
        <td><%= quote.numofelev %></td>
        <td><%= quote.maxocc %></td>
        <td><%= quote.bushrs %></td>
        <td><%= quote.corp %></td>
        <td><%= quote.liftCage %></td>
        <td><%= quote.elevatorNum %></td>
        <td><%= quote.unitPrice %></td>
        <td><%= quote.totalPriceElevators %></td>
        <td><%= quote.installFees %></td>
        <td><%= quote.totalPrice %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
