<div id="wrapper">

	<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

		<!-- TOP NAV -->
		<header id="topNav">
			<div class="container">

				<!-- Logo -->
					<%= image_tag("/assets/R2.png", :alt => "logo", :class =>"img-fluid", :width =>"130", :height =>"65") %>
				</a>

				<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
					<nav class="nav-main">

						<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
						<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
							<li class="active">
								<!-- HOME -->
								<a id="home-nav" href="#top">
									HOME
								</a>
							</li>
							<li>
								<!-- SERVICES -->
								<a id="services-nav" href="#services">
									SERVICES
								</a>
							</li>
							<li>
								<!-- PORTFOLIO -->
								<a id="portfolio-nav" href="#portfolio">
									PORTFOLIO
								</a>
							</li>
							<li>
								<!-- NEWS -->
								<a id="new-nav" href="#news">
									NEWS
								</a>
							</li>

							<li>
								<!-- CLIENTS -->
								<a id="clients-nav" href="#clients">
									CLIENTS
								</a>
							</li>

							<li>
								<!-- CONTACT -->
								<a id="contacts-nav" href="#contact">
									CONTACT
								</a>
							</li>
						</ul>

					</nav>
				</div>

			</div>
		</header>
		<!-- /Top Nav -->

	</div>



	<!-- REVOLUTION SLIDER -->
	<div class="slider fullwidthbanner-container roundedcorners">

		<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
			<ul class="hide">

				<!-- SLIDE  -->
				<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"
					data-saveperformance="off" data-title="Home">
					<!-- MAIN IMAGE -->
					<%= image_tag("/assets/backgroundgoingup.jpg", :alt => "img", :data => "center top", :data => "cover", :data =>"no-repeat") %>

				<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="46" data-y="100"
					data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none"
					data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
					style="background: #0066ffda; z-index: 5; color:white; font-size:110px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:slategray;">
					Rocket Elevators
				</div>



					<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="65" data-y="200"
						data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none"
						data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"
						style="background: #0066ffda; z-index: 5; font-size:40px; color:white; font-weight:bold; text-shadow:slategrey">
						Elevate Safety,Speed,and Style
					</div>

					<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="665" data-y="300"
						data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none"
						data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"
						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
						<a class="btn btn-primary btn-lg" href="#services">OUR SERVICES &nbsp; <i
								class="fa fa-angle-top"></i></a>
						<a class="btn btn-primary btn-lg" href="quote.html">QUOTE REQUEST &nbsp; <i
								class="fa fa-angle-right"></i></a>
					</div>
				</li>

				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
					data-saveperformance="off" data-title="RESIDENT">
					<!-- SECOND IMAGE -->
						<%= image_tag("/assets/stairsimg.jpg", :alt => "img", :data => "center top", :data => "cover", :data =>"no-repeat") %>
					<div class="overlay dark-4">
						<!-- dark overlay [0 to 9 opacity] -->
					</div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
						data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
						data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
						RESIDENTIAL SERVICE <br />

					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
						data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
						data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
						style="z-index: 3; font-size:30px; color:rgba(255, 255, 255, 0.877); font-weight:300; text-shadow:none;">
						Beautifully installed elevators <br />
						in your own home.
					</div>

					<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
						data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
						data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
						<a class="btn btn-primary btn-lg" href="residential.html">RESIDENTIAL SERVICES
							&nbsp; <i class="fa fa-angle-right"></i></a>
					</div>


				</li>
				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"
					data-saveperformance="off" data-title="CORPORATE">
					<!-- MAIN IMAGE -->
						<%= image_tag("/assets/corporateimg.jpg", :alt => "img", :data => "center top", :data => "cover", :data =>"no-repeat") %>
					<div class="overlay dark-4">
						<!-- dark overlay [0 to 9 opacity] -->
					</div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100"
						data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none"
						data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
						CORPORATE SERVICE <br />

					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500"
						data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none"
						data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500"
						style="z-index: 3; font-size:30px; color:#fff; font-weight:300; text-shadow:none;">
						If your company is in need of eye-catching, spacious elevators <br />
						our team is the best in the field.
					</div>

					<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500"
						data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1"
						data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
						<a class="btn btn-primary btn-lg" href="corporate.html">CORPORATE SERVICES &nbsp;
							<i class="fa fa-angle-right"></i></a>
					</div>


				</li>
			</ul>

		</div>
	</div>
	<!-- /REVOLUTION SLIDER -->


	<hr class="m-0" /><!-- 1px line separator -->


	<!-- BUTTON CALLOUT -->
	<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
		<span class="font-lato fs-30">
			Did Rocket convince you?
			<strong>Contact us &raquo;</strong>

		</span>
	</a>
	<!-- /BUTTON CALLOUT -->



	<!-- Services -->
	<section id="services">
		<div class="container">

			<div class="row">
				<div class="col-sm-4">
					<a class="image-hover lightbox" href="#portfolio" data-plugin-options='{"type":"iframe"}'>
						<span class="image-hover-icon image-hover-dark">


						</span>
						<%= image_tag("/assets/champion.jpg", :alt => "img", :class => "img-fluid") %>
					</a>

					<h3 class="mt-10">Awards and Projects</h3>
					<p>The company has won numerous awards and participated in many major projects.</p>
					<a href="#work" class="btn btn-primary">READ MORE</a>
				</div>

				<div class="col-sm-4">
					<a class="image-hover lightbox" href="/residential.html" data-plugin-options='{"type":"iframe"}'>
						<span class="image-hover-icon image-hover-dark">


						</span>
						<%= image_tag("/assets/residentialelevator.jpg", :alt => "img", :class => "img-fluid") %>
					</a>
					<h3 class="mt-10">Residential Building Services</h3>
					<p>The company offers a service for residential buildings.</p>
					<a href="/residential.html" class="btn btn-primary">READ
						MORE</a>
				</div>

				<div class="col-sm-4">
					<a class="image-hover lightbox" href="/corporate.html" data-plugin-options='{"type":"iframe"}'>
						<span class="image-hover-icon image-hover-dark">


						</span>
						<%= image_tag("/assets/elevator1.jpeg", :alt => "img", :class => "img-fluid") %>
					</a>
					<h3 class="mt-10">Corporate Building Services</h3>
					<p>The company offers a service for corporate buildings</p>
					<a href="/corporate.html" class="btn btn-primary">READ MORE</a>
				</div>

			</div>

		</div>
	</section>
	<!-- /Services -->




	<!-- Parallax -->
	<section class="parallax parallax-1" style="background-image: url('/assets/backgroundgoingup.jpg');">
		<div class="overlay dark-5">
			<!-- dark overlay [1 to 9 opacity] -->
		</div>

		<div class="container">

			<div class="text-center">
				<h2 class="fs-40 fw-300">Building Elevators Since 1976</h2>
				<a class="btn btn-primary btn-lg" href="quote.html">GET A
					QUOTE <i class="fa fa-angle-right"></i></a>
				&nbsp; OR &nbsp;
				<a class="btn btn-primary btn-lg" href="#services">OUR SERVICES <i class="fa fa-angle-right"></i></a>
			</div>

		</div>
	</section>
	<!-- /Parallax -->




	<!-- PORTFOLIO -->
	<section id="work">
		<div class="container">

			<div class="heading-title heading-dotted text-center">
				<h2>Awards and Projects</h2>
			</div>

			<div class="text-center">
				<ul class="nav nav-pills mix-filter mb-60">
					<li data-filter="all" class="filter active"><a href="#">All</a></li>
					<li data-filter="Projects" class="filter"><a href="#">Projects</a></li>
					<li data-filter="Recognitions" class="filter"><a href="#">Recognitions</a></li>
					<li data-filter="Awards" class="filter"><a href="#">Awards</a></li>
				</ul>
			</div>

		</div>

		<div id="portfolio" class="portfolio-nogutter row">

				<div class="col-md-3 col-sm-3 mix Awards">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Awardpic1.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Awardpic1.jpg", :alt => "Award", :class => "img-fluid" , :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Elevator World 2009</h3>
							<ul class="list-inline categories m-0">
								<li><a href="https://elevatorworld.com" class=external-link
										aria-hidden="true"></i>Mention in Elevator World</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Recognitions">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox"
										href="/assets/Elevator-Worldmention2.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Elevator-Worldmention2.jpg", :alt => "Elevator", :class => "img-fluid" , :width=>"600", :height=>"399") %>

						</figure>

						<div class="item-box-desc">
							<h3>Article in Elevator World 2015</h3>
							<ul class="list-inline categories m-0">
								<li><a href="https://elevatorworld.com" class=external-link>Elevator World Elevator
										Design</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Projects">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award3.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award3.jpg", :alt => "Award", :class => "img-fluid") %>
						</figure>

						<div class="item-box-desc">
							<h3>Glass Design Award 2014</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/residential.html">Residential Services</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Recognitions">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award4.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award4.jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Elevator to Hospital Helicoptor Pad</h3>
							<ul class="list-inline categories m-0">
								<li><a href="https://www.tgh.org/" class=external-link>Around the Community</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Projects">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award5.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award5.jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Best Corporate Design 2012</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/corporate.html">Corporate Services</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Projects">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award6 (1).jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award6 (1).jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Home Design Article 2018</h3>
							<ul class="list-inline categories m-0">

								<li><a href="/residential.html">Residential Services</a></li>
							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Awards">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award7 (1).jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->

								</span>
							</span>
							<%= image_tag("/assets/Award7 (1).jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Technology Award 2021</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/corporate.html">Corporate Services</a></li>

							</ul>
						</div>

					</div>

				</div><!-- /item -->


				<div class="col-md-3 col-sm-3 mix Awards">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award8 (1).jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award8 (1).jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>
						<div class="item-box-desc">
							<h3>Historic Design</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/residential.html">Residential Replica Art</a></li>

							</ul>
						</div>

					</div>


				</div><!-- /item -->




				<div class="col-md-3 col-sm-3 mix Projects">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award9 (1).jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award9 (1).jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Large Residential Project</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/corporate.html">Residential Apartment Building</a></li>

							</ul>
						</div>

					</div>

				</div>

				<div class="col-md-3 col-sm-3 mix Projects">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/2Award10.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/2Award10.jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Design Award 2021</h3>
							<ul class="list-inline categories m-0">

								<li><a href="/corporate.html">Corporate Office Design</a></li>
							</ul>
						</div>

					</div>

				</div>
				<div class="col-md-3 col-sm-3 mix Awards">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/2Award11.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/2Award11.jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Commerical Resotration</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/corporate.html">Corporate Building Project</a></li>

							</ul>
						</div>

					</div>

				</div>

				<div class="col-md-3 col-sm-3 mix Awards">
					<!-- item -->

					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">

									<!-- lightbox -->
									<a class="ico-rounded lightbox" href="/assets/Award12.jpg"
										data-plugin-options='{"type":"image"}'>
										<span class="fa fa-plus fs-20"></span>
									</a>

									<!-- details -->


								</span>
							</span>
							<%= image_tag("/assets/Award12.jpg", :alt => "Award", :class => "img-fluid", :width=>"600", :height=>"399") %>
						</figure>

						<div class="item-box-desc">
							<h3>Small Space Design Award 2019</h3>
							<ul class="list-inline categories m-0">
								<li><a href="/corporate.html">Corporate Building</a></li>

							</ul>
						</div>

					</div>

		</div>
				<!-- /item -->

	</section>
	<!-- /PORTFOLIO -->




	<!-- Team -->
	<section id="team" class="section-xs dark">
		<div class="container">

			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner" style="text-align:center">
					<div class="carousel-item active">
						<img src="/assets/Alex CEO.png" width="75px" height="auto"> 
						<p class="lead">CEO of Rocket Elevators</p>
						<cite>
						<span>Company CEO</span>
						</cite>
					</div>
					<div class="carousel-item">
						<img src="/assets/Kiril MD.png" width="75px" height="auto"> 
						<p class="lead">Rocket Elevators Managing Director</p>
						<cite>
						<span>Company MD</span>
						</cite>
					</div>
					<div class="carousel-item">
						<img src="/assets/employee-of-the-month.jpg" width="75px" height="auto"> 
						<p class="lead">Employee of the Month</p>
						<cite>
						<span>Employee</span>
						</cite>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Testimonials -->

	<!-- News -->
	<section id="news">
		<div class="container">

			<div class="heading-title heading-dotted text-center">
				<h2>Recent News</h2>
			</div>

			<div id="carouselExampleFade" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
				<div class="carousel-inner" style="text-align:center">
					<div class="carousel-item active">
						<a
						href="https://elevatorworld.com/news/daily-news/tallest-residential-development-on-singapore-river-revealed/">
						<%= image_tag("/assets/worldstallest.jpg", :alt => "worlds tallest", :class => "img-fluid") %>
					</a>

					<h4 class="mt-20"><a
							href="https://elevatorworld.com/news/daily-news/tallest-residential-development-on-singapore-river-revealed/">Worlds
							Tallest Residential
							Development</a></h4>
					<p>Residential Development Revealed</p>
					<ul class="fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i>
							Sept 22nd 2021
						</li>
					</ul>
					</div>
					<div class="carousel-item">
					<a
						href="https://elevatorworld.com/article/tke-acquires-florida-company-jacksonville-riverfront-tower-projects-and-more/">
						<%= image_tag("/assets/TampaEle.jpg", :alt => "Tampa Ele", :class => "img-fluid") %>
					</a>

					<h4 class=" mt-20"><a
							href="https://elevatorworld.com/article/tke-acquires-florida-company-jacksonville-riverfront-tower-projects-and-more/">TKE
							Aquires Florida Company
						</a></h4>
					<p class="">New Elevators Coming to Florida!</p>
					<ul class=" fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i>
							October 11th 2021
						</li>
					</ul>
					</div>
					<div class="carousel-item">
					<a
						href="https://elevatorworld.com/article/chicago-yimby-mixed-use-developments-and-tower-approved/">
						<%= image_tag("/assets/Chicagonews.png", :alt => "Chicago news", :class => "img-fluid") %>
					</a>

					<h4 class=" mt-20"><a
							href="https://elevatorworld.com/article/chicago-yimby-mixed-use-developments-and-tower-approved/">New
							Chicago Elevators</a></h4>
					<p class="">Chicago Developments</p>
					<ul class=" fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i>
							Aug 20th 2021
						</li>
					</ul>
					</div>
					<div class="carousel-item">
					<a href="https://elevatorworld.com/article/acquisition-hiring-and-certification/">
						<%= image_tag("/assets/TKE2.jpg", :alt => "TKE2", :class => "img-fluid") %>
					</a>
					<h4 class=" mt-20"><a
							href="https://elevatorworld.com/article/acquisition-hiring-and-certification/">Business
							News</a></h4>
					<p class="">Acquisition Hiring and Certification</p>
					<ul class=" fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i>
							January 20th 2021
						</li>
					</ul>
					</div>
					<div class="carousel-item">
					<a	href="https://elevatorworld.com/article/busy-market-generates-work-for-construction-and-vertical-transportation-industries/">
						<%= image_tag("/assets/BusyMarket2.jpg", :alt => "BusyMarket", :class => "img-fluid") %>
					</a>
					<h4 class=" mt-20"><a
							href="https://elevatorworld.com/article/busy-market-generates-work-for-construction-and-vertical-transportation-industries/">Busy
							Market</a></h4>
					<p class="">Busy Market Generates Work for Transportation Industries</p>
					<ul class=" fs-12 list-inline list-separator">
						<li>
							<i class="fa fa-calendar"></i>
							July 1st 2021
						</li>
						<li>
					</ul>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
 	</section>
	<!-- /News -->



	<!-- Clients -->
	<section id="clients" class="alternate">
		<div class="container">

			<div class="heading-title heading-dotted text-center">
				<h2>Our Customers</h2>
			</div>

			<ul class="row clients-dotted list-inline">
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerTarget.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerRaymondJames.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerbiliagio.jpg", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerCodecademy.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerWyn.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerwarwick.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerHilton.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerWyn.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerhouzz.png", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerproperty.jpg", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerNelson.jpg", {:style => "width:100px;"}) %>
					</a>
				</li>
				<li class="col-md-3 col-sm-3 col-6">
					<a href="#client">
						<%= image_tag("/assets/customerallcounty.png", {:style => "width:100px;"}) %>
					</a>
				</li>
			</ul>

		</div>
	</section>
	<!-- /Clients -->

	<section id="contact">
		<div class="container">

			<header class="text-center mb-60">
				<h2>Contact Us</h2>
				<p class="lead font-lato"></p>
				<hr />
			</header>


			<div class="row">

				<!-- FORM -->
				<div class="col-md-8 col-sm-8">

					<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

					
					<!--
						MESSAGES
						
							How it works?
							The form data is posted to php/contact.php where the fields are verified!
							php.contact.php will redirect back here and will add a hash to the end of the URL:
								#alert_success 		= email sent
								#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
								#alert_mandatory	= email not sent - required fields empty
								Hashes are handled by assets/js/contact.js

							Form data: required to be an array. Example:
								contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
								Also, add `required` to input fields if is a mandatory field. 
								Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

							PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
										 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

							WARNING! Do not change the `email` and `name`!
										contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
										contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
					-->

					<!-- Alert Success -->
					<div id="alert_success" class="alert alert-success mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Thank You!</strong> Your message successfully sent!
					</div><!-- /Alert Success -->


					<!-- Alert Failed -->
					<div id="alert_failed" class="alert alert-danger mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>[SMTP] Error!</strong> Internal server error!
					</div><!-- /Alert Failed -->


					<!-- Alert Mandatory -->
					<div id="alert_mandatory" class="alert alert-danger mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
					</div><!-- /Alert Mandatory -->


					<form action="/leads" method="post" enctype="multipart/form-data">
						<fieldset>
							<input type="hidden" name="action" value="contact_send" />

							<div class="row">
									<div class="col-md-4">
										<label for="contact:name">Full Name *</label>
										<input required type="text" value="" class="form-control" name="FullName" id="contact:name">
									</div>
									<div class="col-md-4">
										<label for="contact:name">Business Name *</label>
										<input required type="text" value="" class="form-control" name="CompanyName" id="contact:name">
									</div>
									<div class="col-md-4">
										<label for="contact:email">E-mail Address *</label>
										<input required type="email" value="" class="form-control" name="Email" id="contact:email">
									</div>
									
							</div>
							<div class="row">
								<div class="col-md-4">
									<label for="contact:phone">Phone</label>
									<input type="text" value="" class="form-control" name="Phone" id="contact:phone">
								</div>
									<div class="col-md-4">
										<label for="contact:subject">Project Name *</label>
										<input required type="text" value="" class="form-control" name="ProjectName" id="contact:subject">
									</div>
									<div class="col-md-4">
										<label for="contact:subject">Project Description *</label>
										<input required type="text" value="" class="form-control" name="ProjectDescription" id="contact:subject">
									</div>
									<div class="col-md-4">
										<label for="contact_department">Department</label>
										<select class="form-control pointer" name="DepartmentInCharge">
											<option value="">--- Select ---</option>
							<option value="Residential">Residential</option>
							<option value="Commercial">Commercial</option>
										</select>
									</div>
							</div>
							<div class="row">
									<div class="col-md-12">
										<label for="contact:message">Message *</label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="Message" id="contact:message"></textarea>
									</div>
							</div>
							<div class="row">
									<div class="col-md-12">
										<label for="contact:attachment">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
							</div>

						</fieldset>
						<script type="text/javascript">
							function showMessage() {
								alert("Your message has been sent!");
							}
						</script>

						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
							</div>
						</div>
					</form>

				</div>
				<!-- /FORM -->


				<!-- INFO -->
				<div class="col-md-4 col-sm-4">

					<h2>Visit Us</h2>

					<!-- 
					Available heights
						h-100
						h-150
						h-200
						h-250
						h-300
						h-350
						h-400
						h-450
						h-500
						h-550
						h-600
					-->
					<div id="map2"></div>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.043180175514!2d-71.28188348439583!3d46.842839879141394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897dddd400001%3A0x45e8d9babd84eb09!2s725%20Bd%20Lebourgneuf%20%23418%2C%20Quebec%20City%2C%20QC%20G2J%200C4%2C%20Canada!5e0!3m2!1sen!2sus!4v1632667983653!5m2!1sen!2sus"
						width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

					<hr />

					<p>
						<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725
							Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada
						</span>
						<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a
								href="tel:(418)-555-1234">(418)-555-1234</a></span>
						<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a
								href=" info@codeboxx.biz">info@codeboxx.biz</a></span>
					</p>

				</div>
				<!-- /INFO -->

			</div>

		</div>
	</section>
	<!-- /CONTACT -->


	



    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">


            <div class="row">

                <!-- col #1 -->
                <div class="col-md-8">

                    <h3 class="letter-spacing-1">WHY US?</h3>

                    <!-- Small Description -->
                    <p>
                        We have the conviction that we create the most
                        innovative and reliable products on the market. Contact us today for any questions you might
                        have.
                    </p>
                    <h2>(418) 555-1234</h2>
                </div>
                <!-- /col #1 -->
                <div class="col-md-4">
                    <h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

                    <!-- Newsletter Form -->
                    <p>Subscribe to Our Newsletter to get Important News & Offers</p>
                    <script type="text/javascript">
                        function showAlert() {
                            alert("Subscribed! Thank you!");
                        }
                    </script>

                    <form class="validate" action="php/newsletter.php" method="" data-success="Subscribed! Thank you!"
                        data-toastr-position="bottom-right">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control required"
                                placeholder="Enter your Email">
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-primary" id="emailBtn" value="Subscribe"
                                    onClick="showAlert()" />
                            </span>
                        </div>
                    </form>


                </div>


            </div>

            <div class="copyright">
                <div class="container">
                    <ul class="float-right m-0 list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>&bull;</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    &copy; All Rights Reserved, Company LTD
                </div>
            </div>
		</div>
    </footer>
	
</div>