<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
						<%= image_tag("/assets/favicon.ico", :alt => "logo") %>
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="/index.html">
											HOME</a>
											
										
									</li>
									<li><!-- SERVICES -->
										<a href="/index.html#services">
											SERVICES
										</a>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="/index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- TESTIMONIALS -->
										<a href=#testimonials>
											TESTIMONIALS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a  href="/index.html#clients">
											CLIENTS
										</a>
									</li>
									<li>
										<!-- CONTACT -->
										<a href="/index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!-- HOME -->
			<section id="home">
						
				<div class="container text-center">
					
					<h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">Rocket Elevators Residential Solutions</h1>
					<p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">Getting the Elevator of Your Dreams Made Simple &amp; Interactive.</p>
					
					


					<div class="row mt-100 text-left">

						<div class="col-md-8 col-sm-12 mb-30">
						<%= image_tag("/assets/stairsimg.jpg", :alt => "img", :class =>"img-fluid") %>
						</div>

						<div class="col-md-4 col-sm-12">
							<h3 class="fw-300">Product <span>Overview</span></h3>
						
							<p>As the world’s best residential elevator, the Rocket30 has quickly found its place as the ultimate space-saving solution for any home.</p>
							<p>If you are in need of a home lift, but are limited in space, the Single-Passenger Residential Elevator is the perfect solution for you.</p>
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> Great for any Residential Space</li>
								<li><i class="fa fa-check"></i> Quick Installation Time</li>
								<li><i class="fa fa-check"></i> No More Climbing Staircases </li>
								<li><i class="fa fa-check"></i> Loved by People of all Ages</li>
								
							</ul>

						</div>
					</div>

				</div>

			</section>
			<!-- /HOME -->




			<!-- FEATURES -->
			<section id="features">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Our Features</h2>
						<p class="lead font-lato"></p>
						<hr />
					</header>

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-focus"></i>
								<h4>ABSOLUTE SAFETY</h4>
								<p>Thousands of installations in the USA and around the globe</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-lifesaver"></i>
								<h4>SELF-SUPPORTING LIFT</h4>
								<p>Rests on existing ground floor

								</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-toolbox"></i>
								<h4>MINIMAL MAINTENANCE
								</h4>
								<p>No annual maintenance required

								</p>
							</div>
						</div>
						<div class="col-md-3 col-6">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-globe"></i>
								<h4>ECO-FRIENDLY SYSTEM
								</h4>
								<p>No harmful oils or lubricants required

								</p>
							</div>
						</div>
					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>
			</section>
			<!-- /FEATURES -->


<!-- PRICING -->
<section id="pricing">
	<div class="container">

		<header class="text-center mb-60">
			<h2>Our Pricing</h2>
			
			<hr />
		</header>

		<div class="row">

			<div class="col-md-4 col-sm-4">
				
				<div class="price-clean">                                
					<h4>
						<sup>$</sup>7565<em></em>
					</h4>
					<h5> Standard </h5>
					<hr />
					<p>For individuals looking for something simple to get started.</p>
					<hr />
					<a href="#" class="btn btn-3d btn-teal">Learn More</a>
				</div>
			
			</div>

			<div class="col-md-4 col-sm-4">
				
				<div class="price-clean">                                
					<h4>
						<sup>$</sup>12,345<em></em> 
					</h4>
					<h5> Premium </h5>
					<hr />
					<p>For individuals looking for something simple to get started.</p>
					<hr />
					<a href="#" class="btn btn-3d btn-teal">Learn More</a>
				</div>
			
			</div>

			<div class="col-md-4 col-sm-4">
				
				<div class="price-clean price-clean-popular"> 
					<div class="ribbon"> 
						<div class="ribbon-inner">POPULAR</div>
					</div>
					
					<h4>
			
							<sup>$</sup>15,400<em></em>
						</h4>
						<h5> Excelium </h5>
						<hr />
						<p>For individuals looking for something simple to get started.</p>
						<hr />
					<a href="#" class="btn btn-3d btn-primary">Learn More</a>
				</div>
			
			</div>

			
			</div>

		</div>

	</div>
</section>
<!-- /PRICING -->

			



			<!-- TESTIMONIALS -->
			<section id="testimonials" class="alternate">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Testimonials</h2>
						<p class="lead font-lato">Read What Our Clients Have to Say!</p>
						<hr />
					</header>

					<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
					<div class="row mb-60">
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/2-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>I thoroughly enjoy riding in my Rocket elevator as its extremely comfortable!</p>
									<cite>
										Felicia Doe
										<span>Client</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/1-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>My house was built in 1925 and it was hard to get something to fit in with the décor of my home, but the Rocket30 fit in perfectly.</p>
									<cite>
										Joana Doe
										<span>Client</span>
									</cite>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="testimonial testimonial-bordered p-15">
								<figure class="float-left">
									<%= image_tag("/assets/6-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>Highly recommend. Working with Rocket was such an incredible experience! From our very first meeting they were so professional, time efficient & helpful. Couldn’t be happier.</p>
									<cite>
										Melissa Doe
										<span>Client</span>
									</cite>
								</div>
							</div>
						</div>
					</div>

					<!-- 
						Note: remove class="rounded" from the img for squared image!
					-->
					<ul class="row clearfix testimonial-dotted list-unstyled">
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag("/assets/2-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>Great Service! Loved working with Rocket Elevators and would highly reccomend to anyone!</p>
									<cite>
										Joana Doe
										<span>Client</span>
									</cite>
								</div>
							</div>
						</li>
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag("/assets/6-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>Beautiful elevators and very quick friendly service. Thank you Rocket Team</p>
									<cite>
										Melissa Doe
										<span>Client</span>
									</cite>
								</div>
							</div>
						</li>
						<li class="col-md-4">
							<div class="testimonial">
								<figure class="float-left">
									<%= image_tag("/assets/7-min.jpg", :alt => "img", :class =>"rounded") %>
								</figure>
								<div class="testimonial-content">
									<p>Had a new elevator in my home installed in one day. Great product and service.</p>
									<cite>
										Stephany Doe
										<span>Client</span>
									</cite>
								</div>
							
			</section>
			<!-- /TESTIMONIALS -->




			<!-- -->
			<section>
				<div class="container">
					
				
					
						<div class="col-lg-10">

							<div class="heading-title heading-border-bottom">
								<h3>Rocket Elevators Vision</h3>
							</div>

							<div class="toggle toggle-transparent-body toggle-accordion">

								<div class="toggle active">
									<label>Who we are?</label>
									<div class="toggle-content">
										<p>We are the world’s leading company for elevator and escalator manufacturing, installation and service. </p>
									</div>
								</div>

								<div class="toggle">
									<label>Our long-term vison</label>
									<div class="toggle-content">
										<p>We are combining our legacy as an industry pioneer, our current industry leadership position and our vision to give people freedom to connect and thrive in a taller, faster, smarter world.</p>
									</div>
								</div>

								<div class="toggle">
									<label>How can we help you?</label>
									<div class="toggle-content">
										<p>Rocket Elevatoes is 69,000 people strong, including 40,000 field professionals, all committed to meeting the diverse needs of our customers.</p>
									</div>
								</div>

							</div>

						</div>

						
			<!-- / -->



			<!-- -->
			<section class="alternate">
				<div class="container">
					
					<div class="text-center">
						<h2 class="wow fadeInUp m-0" data-wow-delay="0.3s">HAS ROCKET ELEVATORS CONVINCED YOU?</h2>

						<p class="lead font-lato fs-30 wow fadeInUp mb-60" data-wow-delay="0.5s">Adding an Elevator has never been easier</p>
						
						<div class="mt-30">
							<a class="btn btn-lg btn-blue" href="quote.html">QUOTE REQUEST &nbsp; <i
								class="fa fa-angle-right"></i></a>
						
						</div>
					</div>

				</div>
			</section>
			<!-- / -->





			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">
		
		
					<div class="row">
		
						<!-- col #1 -->
						<div class="col-md-8">
		
							<h3 class="letter-spacing-1">WHY US?</h3>
		
							<!-- Small Description -->
							<p>
								We have the conviction that we create the most
								innovative and reliable products on the market. Contact us today for any questions you might
								have.
							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
		
							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>
							<script type="text/javascript">
								function showAlert() {
									alert("Subscribed! Thank you!");
								}
							</script>
		
							<form class="validate" action="php/newsletter.php" method="" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<input type="button" class="btn btn-primary" id="emailBtn" value="Subscribe" onClick="showAlert()" />
									</span>
								</div>
							</form>
		
		
					</div>
		
		
				</div>
		
				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>
		
			</footer>